body {
    /* display: flex;
    flex-direction: column; */
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

ul {
  padding-left: 20px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 70px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.winner-square {
    background: #00FF00;
    border: 1px solid #999;
    float: left;
    font-size: 70px;
    font-weight: bold;
    line-height: 34px;
    height: 100px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 100px;
}



.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}

/* Inserting this collapsed row between two flex items will make 
 * the flex item that comes after it break to a new row */
 .break {
    flex-basis: 100%;
    height: 0;
}
.game-info-container {
    display: flex;
    flex-direction: row;
    height: 200px;
}

.game-info-container * {
}

.game-board-container {
    display: flex;
    flex-direction: row;
}

.game {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.game-info {
    justify-content: center;
    overflow: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.game-move-number-display {
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
}

Button {
   height: 30px; 
}
